[submodule "cvp_nav_ros.git"]
	path = cvp_nav_ros
	url = git@github.com:niladut/cvp_nav_ros.git
[submodule "cvp_gazebo_ros.git"]
	path = cvp_gazebo_ros
	url = git@github.com:niladut/cvp_gazebo_ros.git
[submodule "magni_description_ros.git"]
	path = magni_description_ros
	url = git@github.com:niladut/magni_description_ros.git
[submodule "cvp_bringup_ros.git"]
	path = cvp_bringup_ros
	url = git@github.com:niladut/cvp_bringup_ros.git
[submodule "imu_ros.git"]
	path = imu_ros
	url = git@github.com:niladut/imu_ros.git
[submodule "imu_calib"]
	path = imu_calib
	url = https://github.com/dpkoch/imu_calib.git
[submodule "magni_robot.git"]
	path = magni_robot
	url = https://github.com/UbiquityRobotics/magni_robot.git
[submodule "multimaster_fkie.git"]
	path = multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie.git
[submodule "platooning_ros.git"]
	path = platooning_ros
	url = git@github.com:niladut/platooning_ros.git
[submodule "sonar_detector.git"]
	path = sonar_detector
	url = https://github.com/UbiquityRobotics/sonar_detector.git
[submodule "pi_sonar.git"]
	path = pi_sonar
	url = https://github.com/UbiquityRobotics/pi_sonar.git
[submodule "ubiquity_motor.git"]
	path = ubiquity_motor
	url = https://github.com/UbiquityRobotics/ubiquity_motor.git
[submodule "cvp_control_center_ros"]
	path = cvp_control_center_ros
	url = git@github.com:niladut/cvp_control_center_ros.git
[submodule "fiducials.git"]
	path = fiducials
	url = https://github.com/UbiquityRobotics/fiducials.git
[submodule "cvp_visualization_ros.git"]
	path = cvp_visualization_ros
	url = git@github.com:niladut/cvp_visualization_ros.git
[submodule "raspicam_node"]
	path = raspicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node.git
[submodule "ir_state_detector_ros"]
	path = ir_state_detector_ros
	url = git@github.com:niladut/ir_state_detector_ros.git
[submodule "line_follower_ros"]
	path = line_follower_ros
	url = git@github.com:niladut/line_follower_ros.git
[submodule "misc/robot_localization"]
	path = misc/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
