[submodule "cvp_nav_ros.git"]
	path = cvp_nav_ros
	url = git@github.com:niladut/cvp_nav_ros.git
[submodule "cvp_gazebo_ros.git"]
	path = cvp_gazebo_ros
	url = git@github.com:niladut/cvp_gazebo_ros.git
[submodule "magni_description_ros.git"]
	path = magni_description_ros
	url = git@github.com:niladut/magni_description_ros.git
[submodule "cvp_bringup_ros.git"]
	path = cvp_bringup_ros
	url = git@github.com:niladut/cvp_bringup_ros.git
[submodule "imu_ros.git"]
	path = imu_ros
	url = git@github.com:niladut/imu_ros.git
[submodule "imu_calib"]
	path = imu_calib
	url = https://github.com/dpkoch/imu_calib.git
[submodule "magni_robot.git"]
	path = magni_robot
	url = https://github.com/UbiquityRobotics/magni_robot.git
[submodule "multimaster_fkie.git"]
	path = multimaster_fkie
	url = https://github.com/fkie/multimaster_fkie.git
[submodule "platooning_ros.git"]
	path = platooning_ros
	url = git@github.com:niladut/platooning_ros.git
[submodule "sonar_detector.git"]
	path = sonar_detector
	url = https://github.com/UbiquityRobotics/sonar_detector.git
[submodule "pi_sonar.git"]
	path = pi_sonar
	url = https://github.com/UbiquityRobotics/pi_sonar.git
[submodule "ubiquity_motor.git"]
	path = ubiquity_motor
	url = https://github.com/UbiquityRobotics/ubiquity_motor.git
