<?xml version="1.0"?>
<model>
  <name>line_test</name>
  <version>0.1.0</version>
  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Floor to test line following with camera
  </description>
</model>
